<div class="container mb-2 md-3">
    <div class="row mb-3">
        <div class="col-md-12">
            <h1 class="text-center">World Wide COVID-19</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="divTotales text-center">
                <span class="letraComfirmados">Confirmed</span><br>
                <span class="numeroComfirmado" id="totalconfirmed">11111</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="divTotales text-center">
                <span class="letraRecivered">Recovered</span><br>
                <span class="numeroRecivered" id="totalrecovered">111</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="divTotales text-center">
                <span class="letraDeaths">Deaths</span><br>
                <span class="numeroDeaths" id="totaldeaths">1111</span>
            </div>
        </div>
    </div>
</div>
<hr>