*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #4CB8C4;
    background: -webkit-linear-gradient(to right, #3CD3AD, #4CB8C4);
    background: linear-gradient(to right, #3CD3AD, #4CB8C4);

}

.Title {
    color: #F0B949;
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
}

.inputSize {
    width: 100%;
    font-size: 20px;
    padding-left: 40px;
}

#txtFindCountry:focus {
    outline: none !important;
    border: 3px solid #F0B949;

    box-shadow: 0 0 10px #719ECE;
}

#divCardCountry {
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1em;
}

#lblComfirmed {
    color: black
}

#lblRecovered {
    color: green;
}

#lblDeaths {
    color: red;
}

.headCards {
    background-color: #94E6F7;
}

#divContent {
    transition: visibility 0s, opacity 0.9s;

}

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-child {
    position: relative;
    background-color: white;
    width: 30%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s;
}

.hideModal {
    visibility: hidden;
    opacity: 0;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bolder;
    cursor: pointer;
}

@media (max-width: 600px) {
    .modal-child {
        width: 80%;
    }
}